@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  margin: 0 auto;
}

.arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  flex-shrink: 0;
  position: fixed;
  top: 44px;
  right: 923px;

  &:hover {
    background-color: rgba(59, 59, 59, 0.05);
  }
  &:active {
    background-color: rgba(153, 129, 255, 0.2);
  }
}

.infoBlock {
  width: 640px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 32px;
  width: 640px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.blocksContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 640px;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  gap: 4px;
}

.iconButton {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(59, 59, 59, 0.05);
  }
  &:active {
    background-color: rgba(153, 129, 255, 0.2);
  }

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}
